In [1]:
import re

#### Question1:-

In [3]:
sample_text='Python Excercises, PHP excercises.'
expected_output=re.sub("[ ,.]",":",sample_text)
print(expected_output)

Python:Excercises::PHP:excercises:

#### Question2:-

In [53]:
import pandas as pd

In [54]:
df=pd.DataFrame({'SUMMARY':['hello,world!','XXXXX test','123four,five:;six...']})
df

                SUMMARY
0          hello,world!
1            XXXXX test
2  123four,five:;six...

In [55]:
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z ]', '', regex=True)
df['SUMMARY']=df['SUMMARY'].replace('X','',regex=True)
print(df)

       SUMMARY
0   helloworld
1         test
2  fourfivesix

#### Question3:-

In [34]:
target_string="Data science is the study of data to extract meaningful insights for business. It is a multidisciplinary approach that combines principles and practices from the fields of mathematics, statistics, artificial intelligence, and computer engineering to analyze large amounts of data"
string_pattern=r"\b\w{4,}\b"
regex_pattern=re.compile(string_pattern)
result=regex_pattern.findall(target_string)
print(result)

['Data', 'science', 'study', 'data', 'extract', 'meaningful', 'insights', 'business', 'multidisciplinary', 'approach', 'that', 'combines', 'principles', 'practices', 'from', 'fields', 'mathematics', 'statistics', 'artificial', 'intelligence', 'computer', 'engineering', 'analyze', 'large', 'amounts', 'data']

#### Question4:-

In [35]:
target_string="Data science is the study of data to extract meaningful insights for business. It is a multidisciplinary approach that combines principles and practices from the fields of mathematics, statistics, artificial intelligence, and computer engineering to analyze large amounts of data"
string_pattern=r"\b\w{3,6}\b"
regex_pattern=re.compile(string_pattern)
result=regex_pattern.findall(target_string)
print(result)

['Data', 'the', 'study', 'data', 'for', 'that', 'and', 'from', 'the', 'fields', 'and', 'large', 'data']

#### Question5:-

In [56]:
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
def remove_parentheses(strings):
    pattern = re.compile(r'\(([^)]*)\)')
    result = [pattern.sub(r'\1', s) for s in strings]
    return result

In [57]:
expected_output = remove_parentheses(sample_text)
print("\n".join(expected_output))

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

#### Question 6:-

In [58]:
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result_string=' '.join(sample_text)
with open("string.txt","w")as file:
    file.write(result_string)
with open("string.txt","r")as file:
    text=file.read()
    
new_text=re.sub(r"\s*\([^)]*\)","",text)
my_list=new_text.split()
print(my_list)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

#### Question 7:-

In [5]:
sample_text="ImportanceOfRegularExpressionsInPython"
output=re.findall('[A-Z][^A-Z]*',sample_text)
print(output)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

#### Question8:-

In [15]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
def insert_spaces(text):
    return re.sub(r'(?<=[a-zA-Z])(\d)', r' \1', text)

In [16]:
expected_result = insert_spaces(sample_text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

#### Question 9:-

In [22]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
def insert_spaces(text):
    result=re.sub(r'([A-Z0-9])',r' \1',text)
    result=result.strip()
    return result
    #strip mathod is used to remove the trailing spaces.

In [23]:
output=insert_spaces(sample_text)
print(output)

Regular Expression 1 Is An 2 Important Topic 3 In Python

#### Question 10:-

In [24]:
import pandas as pd

In [25]:
github_link="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df=pd.read_csv(github_link)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [28]:
df['first_five_letters']=df['Country'].str[:6]
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

#### Question 11:-

In [44]:
def match_string(text):
        pattern = '^[a-zA-Z0-9_]*$'
        if re.search(pattern,  text):
                return 'Found a match!'
        else:
                return('No matched!')

print(match_string("We have invited everyone to our party."))
print(match_string("Data_Sience_1"))

No matched!
Found a match!

#### Question 12:-

In [47]:
def match_number(string):
    text=re.compile(r"^7")
    if text.match(string):
        return True
    else:
        return False
print(match_number('2942340202_43782839122'))
print(match_number('723652_dshdysajdg7'))

False
True

#### Question 13:-

In [49]:
ip_address="213.09.098.125"
without_zero=re.sub('\.[0]*','.',ip_address)
print(without_zero)

213.9.98.125

#### Question 14:-

In [53]:
sample_text="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
with open("date.txt","w")as file:
    file.write(sample_text)

with open('date.txt', 'r') as file:
    text = file.read()
    
date_pattern=re.compile(r'(\b(?:January|Febuary|March|April|May|June|July|August|September|October|November|December)\s\d{1,2}(?:st|nd|rd|th)?\s\d{4}\b)')
match=date_pattern.search(text)
if match:
    matched_date=match.group(1)
    print("Expected_output:",matched_date)
else:
        print("no match")

Expected_output: August 15th 1947

#### Question 15:-

In [66]:
sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']
for word in searched_words:
    if word in sample_text:
        print(f"'{word}' found in the text.")
    else:
        print(f"'{word}' not found in the text.")

'fox' found in the text.
'dog' found in the text.
'horse' not found in the text.

#### Question 16:-

In [47]:
sample_text="The quick brown fox jumps over the lazy dog."
pattern='fox'
match=re.search(pattern,sample_text)
s=match.start()
e=match.end()
print('found "%s"in "%s" from %d to %d'%\
     (match.re.pattern,match.string,s,e))

found "fox"in "The quick brown fox jumps over the lazy dog." from 16 to 19

#### question 17:-

In [72]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
substring = 'exercises'
match= re.findall(substring, sample_text)
if match:
    print('match is found', len(match))
else:
    print('no match found')

match is found 3

#### Question 18:-

In [75]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
substring = 'exercises'
m = re.finditer(substring,sample_text)
for match in m:
    print(' \'{}\''.format(substring), 'found at position', match.span())

 'exercises' found at position (7, 16)
 'exercises' found at position (22, 31)
 'exercises' found at position (36, 45)

#### Question 19:-

In [82]:
def convert_date(input_date):
    old_date=input_date.split('-')
    new_date=f"{date}-{month}-{year}"
    return new_date

In [81]:
input_date="2002-08-20"
converted_date=convert_date(input_date)
print(f"Original Date: {input_date}")
print(f"Converted Date:{converted_date}")

Original Date: 2002-08-20
Converted Date:20-08-2002

#### Question 20:-

In [91]:
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
def find_decimal_numbers(input_text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    decimal_numbers = pattern.findall(input_text)
    return decimal_numbers

In [92]:
result = find_decimal_numbers(sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

#### Question 21:-

In [95]:
string = "My birth date is 20 August."

for match in re.finditer("\d+",string):
    print(match.group(0))
    print("Index position:", match.start())

20
Index position: 17

#### Question 22:-

In [96]:
sample_text="My marks in each semester are: 947,896,926,524,734,950,642"
numeric_values=re.findall(r'\b\d+\b',sample_text)
largest_value=max(map(int,numeric_values))
print(largest_value)

950

#### Question 23:-

In [117]:
def insert_spaces(text):
    pattern = r'([A-Z][a-z]+)'
    result = re.sub(pattern, r' \1', text)
    result = result.strip()
    return result

In [118]:
sample_text = "RegularExpressionIsAnImportantTopicInPython"
output = insert_spaces(sample_text)
print(output)

Regular Expression Is An Important Topic In Python

#### Question 24:-

In [5]:
def match_text(text):
    pattern='[A-Z]+[a-z]+$'
    if re.search(pattern,text):
        return "Found a Match"
    else:
        return "No match Found"

In [11]:
print(match_text("PyTHON"))
print(match_text("Data Science"))
print(match_text("RegEx"))

No match Found
Found a Match
Found a Match

#### Question 25:-

In [17]:
sample_text = "Hello hello world world"
def remove_continuous_duplicates(sentence):
    output = re.sub(r'\b(\w+)(\s+\1\b)+', r'\1', sentence)
    return output

In [18]:
expected_result = remove_continuous_duplicates(sample_text)
print(expected_result)

Hello hello world

#### Question 26:-

In [19]:
def check_string(string):
    pattern=r'\w$'
    match=re.search(pattern,string)
    if match:
        return True
    else:
        return False

In [22]:
input_string=input("Enter a string:")
if check_string(input_string):
    print("String ends with an alphanumeric character")
else:
    print("String does not end with aphanumeric character")

Enter a string:1234562@
String does not end with aphanumeric character

#### Question 27:-

In [23]:
sample_text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
expected_output=re.findall(r'#\w+',sample_text)
print(expected_output)

['#Doltiwal', '#xyzabc', '#Demonetization']

#### Question 28:-

In [25]:
sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
expected_text = re.sub(r'<U\+\w+>', '', sample_text)
print(expected_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

#### Question 29:-

In [40]:
Sample_text="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
with open("new.txt","w")as file:
    file.write(Sample_text)
    
with open("new.txt",'r')as file:
    text=file.read()
pattern=r'\b\d{2}-\d{2}-\d{4}\b'
dates=re.findall(pattern,text)

for date in dates:
    print(date)

12-09-1992
15-12-1999

#### Question 30:-

In [41]:
sample_text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
def remove_word(text):
    pattern=re.compile(r'\b\w{2,4}\b')
    result=re.sub(pattern,'',text)
    return result

In [42]:
output=remove_word(sample_text)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.