In [18]:
import regex as re

In [2]:
string1="Hello Data Science 1"
print(len(string1))

20

In [5]:
pattern="Data"
x=re.findall(pattern,string1)
print(x)

['Data']

In [7]:
x=re.findall("[oHa]",string1)
print(x)

['H', 'o', 'a', 'a']

In [8]:
x=re.findall("[^oHa]",string1)
print(x)

['e', 'l', 'l', ' ', 'D', 't', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', '1']

In [10]:
string="Hello Data Science sdgfskgduashuis qpqoisokxxjcd" "vssb data science python"
x=re.findall("[a-m]",string)
print(x)
print(len(x))

['e', 'l', 'l', 'a', 'a', 'c', 'i', 'e', 'c', 'e', 'd', 'g', 'f', 'k', 'g', 'd', 'a', 'h', 'i', 'i', 'k', 'j', 'c', 'd', 'b', 'd', 'a', 'a', 'c', 'i', 'e', 'c', 'e', 'h']
34

In [11]:
"Brain memeory mind head"
pattern="ain\b"

In [12]:
print(pattern)

ain

In [13]:
pattern="\bmi"
print(pattern)

mi

In [17]:
pattern="data science|Data Science"
text="Data Science is a stream and it is a part of AI.You can solve many complex problems using data science tools and techs"

matches=re.findall(pattern,text)
print(matches)

['Data Science', 'data science']

In [20]:
pattern="\d+"
text="There are 12 3 apples and 456 oranges."
matches=re.findall(pattern,text)
print(matches)

['12', '3', '456']

In [23]:
pattern="\D+"
text="There are 11 apples and 456 oranges."
matches=re.findall(pattern,text)
print(matches)

['There are ', ' apples and ', ' oranges.']

here (+)  is used for continuous repetition.

In [24]:
pattern="[0-9]+"
text="There are 12 3 apples and 456 oranges."
matches=re.findall(pattern,text)
print(matches)

['12', '3', '456']

In [26]:
pattern="[0-9]+"
matches=re.findall(pattern,'uydsuajsdhlqu4 7398 2393 fjidowiow4 23728')
print(matches)

['4', '7398', '2393', '4', '23728']

In [39]:
#Extracting digits from list of string.
price = ['Apple costs Rs 50','Rs 60 for each pineapple 120','Rs 150 per watermelon']
for msg in price:
    matches=re.findall("\d+",msg)
print(matches)

['150']

In [3]:
target_string="Abdul kalam was an indian areospace scientist also known as the missile man of India #@"
result=re.findall(r"\w{4,6}",target_string)
print(result)

['Abdul', 'kalam', 'indian', 'areosp', 'scient', 'also', 'known', 'missil', 'India']

In [4]:
#Extracting string ehich begins with A and ends with J or string brgins with A and ends with l from the given string.
import re
string="AP12iKJ Abdu12_l Kalam was am indian areospace scientist also known as the missile man of India"
pattern='A[a-zA-Z0-9]+J|A[\w]+1'

result=re.findall(pattern,string)
print(result)

['AP12iKJ', 'Abdu1']

# split

In [6]:
string='Twelve:12 Eighty nine:89.'
pattern="\d+"
result=re.split(pattern,string,1)
print(result)

['Twelve:', ' Eighty nine:89.']

In [7]:
# split at each white space character (\s is split by space)
text="India is a beautiful country"
x=re.split('\s',text)
print(x)

['India', 'is', 'a', 'beautiful', 'country']

In [8]:
#Start splitting by position
split_by_position="How is this possible"
x=re.split("\s",split_by_position,2)
print(x)

['How', 'is', 'this possible']

# sub

In [9]:
sub_="This function replaces space by assigned char"
x=re.sub("\s","++",sub_)
print(x)

This++function++replaces++space++by++assigned++char

In [11]:
y='Rs'
text="This item cost Rs 2500 and rs 3000"
replaced_text=re.sub(y,"$",text,flags=re.IGNORECASE)
print(replaced_text)

This item cost $ 2500 and $ 3000

In [12]:
target_string="Abdul kalam was an    indian areospace scientist also known as the missile man of India "
res_srt=re.sub(r"\s+","",target_string)
print(res_srt)

AbdulkalamwasanindianareospacescientistalsoknownasthemissilemanofIndia

In [14]:
target_string="    Abdul kalam was an indian areospace scientist also known as the missile man of India "
res_str=re.sub(r"\s+$","",target_string)#removing trailing spaces
print(res_str)

    Abdul kalam was an      indian areospace scientist also known as the missile man of India

In [15]:
target_string="2023 virat is a cricket player who was born on November 5,"
#match at the end 
result=re.match(r"\d{4}",target_string)
print(result)

<re.Match object; span=(0, 4), match='2023'>

In [16]:
msges=['Bananas are not only very delicious pieces of fruit',
      'they are also super healthy.',
      'Eating two bananas a day can do wonders for your health,banana',
      'banana for exMPLE. But did you ever think of sticking a needle into a banana? Probablynot,',
      'but you should ,because it is super handy!']
for msg in msges:
    search=re.search("banana",msg)
    print (search)

None
None
<re.Match object; span=(11, 17), match='banana'>
<re.Match object; span=(0, 6), match='banana'>
None

In [21]:
target_string="Rohit Sharma has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career."
pattern = re.compile(r"(\b\d+\b).(\b[A-Z]+\b)")

#find all amtches to group
for match1 in pattern.finditer(target_string):
    print(match1.group())

43 CENTURIES
91 HALFCENTURIES